<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Nextage</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

    <header>
        <h1>Nextage</h1>

        <nav>
            <a href="/">Vagas</a>
            <a href="/cadastrar/">Cadastrar vaga</a>
        </nav>

        <hr>
    </header>


    <main>

        {% block content %}
        {% endblock %}

    </main>


    <footer>

        <hr>
        <p>Sistema de Estágios - Projeto Acadêmico</p>

    </footer>

</body>

</html>