<h1>Sobre</h1>
<hr>

<section>
<h2>O que é <span class="highlight">TreadJA?</span></h2>
<p>
    <span class="highlight">TreadJA</span> é um projeto realizado por alunos do segundo ano do ensino médio integrado ao curso de informática para internet do Instituto Federal de Educação, Ciências e Tecnologia Baiano - Campus Guanambi.
    <br><br>A realização da aplicação é orientada pelos seguintes professores das seguintes disciplinas:
    <ul>
        <li>Prof.ª Me. Maria Eugênia de Ávila Ferreira - Banco de Dados;</li>
        <li>Prof. Me. Webber Fantini de Sousa - Programação de Sistemas WEB I;</li>
        <li>Prof. Cleiton de Miranda Brito - Projeto Integrador I & Análise de Sistemas WEB;</li>
        <li>Prof.ª Dr.ª Sarah Moniky Silva Ribeiro - Programação de Sistemas WEB I.</li>
    </ul>

    O projeto não possui fins lucrativos e é desenvolvido com o intuito de proporcionar uma experiência prática aos alunos envolvidos.
</p>
</section>

<section>
<h2>Qual o objetivo de <span class="highlight">TreadJA?</span></h2>
<p>
    O sistema tem como objetivo facilitar o processo de seleção e recrutamento de jovens aprendizes por parte das empresas, ao mesmo tempo em que oferece aos jovens uma plataforma acessível para encontrar oportunidades de trabalho.
    <br><br>Ao conectar jovens aprendizes com empresas que buscam talentos emergentes, TreadJA visa promover o desenvolvimento profissional e a inclusão social, contribuindo para a formação de uma nova geração de profissionais qualificados.
    <br><br>Além disso, o sistema busca mitigar os desafios enfentados pela juventude periférica e marginalizada na busca por oportunidades de emprego, oferecendo uma solução tecnológica que simplifica o processo de candidatura e seleção.
</p>
</section>
